.left-menu1 {
    background-color: #f3f3f3; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100%;
    z-index: 3;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    position: fixed;
    li{
        a {
            color: #3486bdd4 !important; 
            margin-top: 10px;
            border-radius: 5px;
            display: flex;
            white-space: nowrap;
            text-overflow: clip;
            overflow: hidden;
            height: 50px;
            align-items: center;
            text-decoration: none;
            padding: 0px 10px;
            cursor: pointer;

        }
        a:hover, .active {
            background-image: linear-gradient(to right,#3d84bed4,#42909e9e);
            color: white !important;
        }
    }

    li:first-child {
        span {
            display: flex;
            align-items: center;
        }
        img {
            width: 40px;
            margin-right: 10px;
        }
    }

    li:last-child {
        position: absolute;
        bottom: 10px;
        width: 230px;
    }
}

.counter1 {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    //position: relative;
    // top: -5px;
    //right: 5px;
    color: white;
    margin-left: 100px;
  }

.notifications1 {
    position: absolute;
    top: 350px;
    left: 200px;
    background-color: white;
    color: black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 350px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    overflow-y: auto;

    span {       
        background-color: rgb(220, 220, 221);
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;

        a {
            color: black;
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
        }
        div {
            margin-left: 5px;
        }
    }

    span:hover {
        background-color: #f4f1f1;
    }
  }

// .notification-sidebar {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }