.container {
    width: 1170px;
    display: block;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

}


.title-content {
   text-align: center;
}

.col-lg-10 {
    width: 100%;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0 0 0.75em;
}

b {
    color: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}
 
h4 {
    font-size: 1em;
    line-height: 1.5;
}

h3 {
    font-size: 1em;
    line-height: 1.5;
}