.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
}

.grid {
    margin: 80px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.title {
    //font: italic 1.2em "Fira Sans", serif;
    font-size: 70px;
    //font-style: italic;
    padding: 50px 0 80px 0;
}


.set-up {
    border-radius: 10px;
}

.background_image {
    display: flex;
    background-image: url(345.jpg);
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.container_0 {
    display: flex;
    flex-direction: column;
    width: 1170px;
   // align-items: center;
   justify-content: center;
}

.container_1 {
    //align-items: center;
    margin-top: 20px;
    a {
        padding: 0 11px 10px 11px;
    }
}

.container_2 {
    box-sizing: border-box;
}

.hero-heading {
    font-size: 2em;
    font-family: Roboto, Avenir, Century Gothic, sans-serif;
    font-weight: bold;
}

.container_3 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .find_law {
        margin-right: 20px;
        margin-left: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        border: solid 1px gray;
        padding: 10px 10px 10px 10px;
        //border-bottom: #0a8bb6 solid 2px;
        a {
            font-size: 25px;
            color: white;
        }
    }
}

.select_lawyer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.simple_form {
    display: flex;
    flex-direction: row;
}

.selection {
    display: flex;
    flex-direction: row;
}

.province_lawyer {
    margin-right: 50px;
}

.province_select {
    height: 35px;
    border-radius: 5px;
}

.major_lawyer {
    margin-right: 20px;
}

.major_select {
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

.find {
    background: #0a8bb6;
    border-radius: 5px;
    border: none;
    color: #fff;
    height: 35px;
    width: 100px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.find:hover {
    background: #fff;
    color: #0a8bb6;
    border-style: solid;
}

.decor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-left: 200px;
    // margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e2e0e0;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    
    .decor-text {
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            margin-top: 30px;
            font-size: 20px;
        }
    }

    .decor-card {
        display: flex;
        flex-direction: row;
        margin-top: 50px;

        .card1 {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 180px;
            border: solid 1px rgba(0, 0, 0, 0.3);
            //justify-content: center;
            //align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            margin: 15px 15px 15px 15px;
            background-color: #eeeeee;

            .card1-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                color: #003594;
                margin-top: 20px;
            }

            .card1-text {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

.decor-image {
    display: flex;
    background-image: url(456.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    div {
        text-align: center;
        margin-left: 250px;
        margin-right: 250px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        p {
            font-size: 20px;
            margin-top: 30px;
        }
    }
}
