.header {
    position: absolute;
    display: flex;
    height: 100px;
    max-height: 300px;
    align-items: center; 
    //border-bottom: 4px #0a8bb6 solid;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.header_logo {
    // padding-left: 15%;
    // padding-right: 15%;
    margin-left: 15%;
    // margin-right: 10%;
    cursor: pointer;
}

.logo {
    height: 100px;
}

.small_icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;

    i {
        font-size: 28px;
    }
}



.search-box {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background: #e5e5e7;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: #0a8bb6;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e5e5e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 350px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #a90f29;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: black;
}

.login {
    border-left: 1px solid #eaeaea;
    height: 100%;
    padding: 20px 20px;
}

.login-btn {
    padding-top: 15px;
    a {
        cursor: pointer;
    }
}

.account-info {
    position: relative;
    display: inline-block;
}

.noti-icon {
    margin-left: 10px;
    cursor: pointer;
    position: relative;

    img {
        width: 20px;
        height: 20px;
    }
}

.counter {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
  }

  .notifications {
    position: absolute;
    top: 70px;
    right: 50px;
    background-color: white;
    color: black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 500px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    overflow-y: auto;
    z-index: 3;

    span {       
        
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;

        a {
            color: black;
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
        }
        div {
            margin-left: 5px;
        }
    }

    span:hover {
        background-color: #f4f1f1;
    }
  }

//   .notifications1 {
//     background-color: #0a8bb6;
//   }
  
.notification {
    padding: 5px;
    font-size: 14px;
}

.messageBottom1 {
    font-size: 10px;
    text-align: left;
}


.user-name {
    //background-color: white;
    color: black;
    padding: 16px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

#nav_mobile_input {
    display: none;
}

.dropdownmenu_container_mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: white;
    z-index: 3;
    height: 100%;
    border-left: 0.5px solid gray;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;

    ul {
        width: 100%;
        padding-right: 20px;
    }

    li {
        list-style: none;
        border-bottom: 0.5px solid gray;
    }

    .close_icon {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
}

.dropdownmenu_container{
    display: flex;
    flex-direction: row;
    align-items: stretch;

    li {
        list-style-type: none;
        margin-left: 20px;
        margin-right: 30px;
    }
}

.dropdownmenu_children{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    padding: 16px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-left: #0a8bb6 solid 2px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content NavLink {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #0a8bb6;}

  .account-info:hover .dropdown-content {display: block;}

  @media  (max-width: 768px) {
    .header_logo {
        margin-left: 5%;
    }
    .logo {
        height: 80px;
    }

    .dropdownmenu_container{
        display: none;
    }

    .dropdownmenu_container_mobile {
        display: block;
    }

    .login {
        display: none;
    }

    .small_icon {
        display: block;
        margin-right: 20px;
    }

    #nav-mobile-input {
        display: none;
    }

    .nav_input:checked ~ .nav_overlay {
        display: block;
        
    }

    .nav_input:checked ~ .dropdownmenu_container_mobile{  
        transform: translateX(0%);
        opacity: 1;
    }

    .login-btn {
        padding: 15px;
    }

    // .dropdown {
    //     display: flex;
    //     flex-direction: row-reverse;
    // }

    .dropdown-content {
        right: 100px;
        top: 10px;
        border-top-right-radius: 10px;
        border-left: none;
        border-right: #0a8bb6 solid 2px;
        border-bottom-left-radius: 10px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}