.lawyer-container {
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    text-align: center;
}

.child-container {

}

.lawyer-info {
    justify-content: space-between;
    align-items: center;
    display: flex;

    tr {
        text-align: center;
        cursor: pointer;
    }
    
    td {
        padding: 15px 15px;
        border-bottom: solid 1px black;
        width: 20%;
    }
}

.add-form {
    margin-right: 50px;
}

.add-cate-btn {
    width: 100px;
    margin-top: 10px;
    background-color: #0079bf; 
    color: white;
    border-radius: 5px;

    &:hover {
    cursor: pointer;
    background-color: #055a8c;
    }
}

table {
    width: 100%;
    min-width: 400px;
    border-spacing: 0;
    border: none;
}

thead {
    background-color: var(--second-bg);
}



th {
    padding: 15px 50px;
    border-bottom: solid 1px black;
    width: 20%;
}

.info-lawyer {
    margin-right: 60px;
}

.field-info {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    

    label {
        font-weight: bold;
        margin-right: 5px;
    }

    


}

.major-info {

    label {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
    }
}

.view {
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
}


.descrip-detail {
    width: 25px !important;
}

.label-field {
    font-weight: bolder;
}