.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 1250px;
}

.filter-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;

    .filter-sidebar {
        margin-right: 20px;
        width: 350px;

        p {
            text-align: justify;
            margin-top: 30px;
            padding-right: 30px;
        }
    }

    .filter-lawyer {
        width: 100%;
    }
}

.major_lawyer {
    margin-bottom: 20px;
}

// .major_select {
//     width: 100%;
// }

.province_select {
    width: 300px;
}

.apply-filter {
    margin-left: 120px;
    margin-top: 20px;

    button {
        border-radius: 5px;
        border: none;
        padding: 10px 10px 10px 10px;
        background-color: rgb(129, 173, 211);
        color: white;
    }
}

.filter-lawyer {
    width: 800px;
    height: 1150px;
    position: relative;

    nav {
        position: absolute;
        bottom: 0;
        margin: auto;
    }
}


@media  (max-width: 768px) {
    .filter-container {
        padding: 0;
        height: 1500px;
    }

    .filter-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 1500px;

        .filter-sidebar {
            p {
                display: none;
            }
            margin-bottom: 20px;
        }
    }

    .filter-lawyer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-size: 30px;
    }
}